.dahsboard-Product {
  display: flex;
  flex-direction: column;
  width: 83%;
  padding: 50px 50px;
  gap: 5px;
  overflow-y: auto !important;
  height: 100vh;
  position: relative;
}
.dahsboard-Product > p {
  color: rgba(103, 103, 108, 1);
  font-size: 1.3rem;
}
.close {
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
}
.grid-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.add-product {
  display: flex;
  flex-direction: column-reverse;
  background-color: rgba(250, 191, 2, 1);
  color: white;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 50px;
}

.left-modal {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-modal {
  height: 100%;
  width: 50%;
  display: flex;

  flex-direction: column;
}
.box h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.right-modal input {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.desc2 {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  height: 90px;
  justify-content:flex-start;
  resize: none;
}
.file2 input {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.right-modal input::placeholder {
  color: black !important;
  font-weight: 600;
  font-size: 0.8rem;
}
.desc2::placeholder {
  color: black !important;
  font-weight: 600;
  font-size: 0.8rem;
}
.right-modal form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.right-modal hr {
  width: 80%;
}
.file2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
  height: 260px;
  background: rgba(249, 249, 249, 1);
  flex-direction: column;
  cursor: pointer;
}
.file2 h3 {
  font-size: 0.9rem;
  color: rgba(103, 103, 108, 1);
}
.file2 h4 {
  font-size: 0.9rem;
  color: 
  rgba(0, 142, 255, 1);
  
  }
  .btn{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
  .btn button{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(250, 191, 2, 1);
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    width: 40%;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
  }
  .categorie{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   gap: 10px;
  }
  .cat{
    padding: 10px;
    font-size: 1rem;
    color: rgba(126, 126, 126, 1);
    font-weight: 500;
    background-color: rgba(221, 221, 221, 1);
    border-radius: 6px;
    cursor: pointer;

  }
  .active-cat{
    padding: 10px;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    background-color: rgba(250, 191, 2, 1);

  }
