

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main{
  display: flex;
 


}
html:has(.main){
  overflow-y: hidden !important;
}

.left-login{
  background-image: url('./assets//80930cf10f33b696657d4ee9671e9d31.jpg');
  width: 50%;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
 

}
.login{
  display: flex;
  
}
.right-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px;
  width: 50%;
}
.right-login input{
 width: 100%;
 border: 1px solid 
 rgba(221, 221, 221, 1);
 
 padding: 15px;
 border-radius: 8px;
}
.right-login form{
  display: flex;
width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.right-login h2{
font-size: 2.3rem;
width: 100%;
}
.right-login label{
font-size: 1.2rem;
font-weight: 600;
margin-top: 15px;
}
.right-login p{
color: red;
display: flex;
flex-direction: row-reverse;
font-size: 0.8rem;
margin-bottom: 10px;
cursor: pointer;
}
.error{
  margin: 0%;
  flex-direction: row !important;
}
.right-login button{
  background-color: rgba(250, 191, 2, 1);
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;

}
a{
  text-decoration: none;
}
/*lock*/
.dahsboard-lock{
  display: flex;
  flex-direction: column;
   width: 83%;
   padding: 50px 50px;
   gap: 5px;
   overflow-y: auto !important;
   height: 100vh;
}
.dahsboard-lock>p{
  color: rgba(103, 103, 108, 1);
  font-size: 1.3rem;
 
 }
 .center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 70%;
 }
 .center p{
  color: rgba(103, 103, 108, 1);
  font-size: 1.2rem;
  text-align: center;
 }
 .center button{
  display: flex;
 
  background-color: rgba(250, 191, 2, 1);
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  width: 18%;
 justify-content: center;
 align-items: center;
 }